.ck.ck-content {
  min-height: 200px !important;
  padding: 0 25px !important;
  font-size: 15px !important;
  color: #52565b !important;
  transition: $transition-base !important;
  border: 1px solid rgba($primary, 0.2) !important;
  background-color: $white !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;

  @include placeholder {
    opacity: 1 !important;
  }

  & + input {
    margin-top: 15px !important;
  }

  &:focus {
    border-color: $primary !important;
    outline: none !important;
  }

  &.is-invalid {
    border-color: $danger !important;
    border-width: 2px !important;
  }
  &.is-valid {
    border-color: $success !important;
    border-width: 2px !important;
  }
}
