/*----------------------------------------*/
/*  01. Template default CSS
/*----------------------------------------*/

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

@mixin excerpt($lines-to-show: 2, $excerpt-bg: transparent) {
  background: $excerpt-bg;
  display: -webkit-box;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*-- Custom Font --*/
@font-face {
  font-family: "Gordita";
  src: url("../fonts/Gordita-Light.eot");
  src: url("../fonts/Gordita-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gordita-Light.woff2") format("woff2"),
    url("../fonts/Gordita-Light.woff") format("woff"),
    url("../fonts/Gordita-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gordita";
  src: url("../fonts/Gordita-Regular.eot");
  src: url("../fonts/Gordita-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gordita-Regular.woff2") format("woff2"),
    url("../fonts/Gordita-Regular.woff") format("woff"),
    url("../fonts/Gordita-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gordita";
  src: url("../fonts/Gordita-Medium.eot");
  src: url("../fonts/Gordita-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gordita-Medium.woff2") format("woff2"),
    url("../fonts/Gordita-Medium.woff") format("woff"),
    url("../fonts/Gordita-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gordita";
  src: url("../fonts/Gordita-Bold.eot");
  src: url("../fonts/Gordita-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gordita-Bold.woff2") format("woff2"),
    url("../fonts/Gordita-Bold.woff") format("woff"),
    url("../fonts/Gordita-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*-- Common Style --*/
*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  position: relative;
  outline: none;
  visibility: visible;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: "";
  &[dir="rtl"] {
    text-align: right;
  }
}

a,
button {
  transition: $transition-base;
  outline: 0;

  &:focus {
    outline: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 15px;
  line-height: 1.8;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
  margin: 0;
}

img {
  max-width: 100%;
}

/* Section Style */
.section,
.main-wrapper {
  float: left;
  width: 100%;
}
.main-wrapper-02 {
  @media #{$tablet-device, $large-mobile} {
    padding-bottom: 65px;
  }
}

/* Custom Container */
.custom-container {
  max-width: 1750px;
}

/* Section Padding */
.section-padding {
  padding-top: 80px;
  padding-bottom: 80px;

  @media #{$large-mobile} {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section-padding-02 {
  padding-top: 80px;

  @media #{$large-mobile} {
    padding-top: 60px;
  }
}

/* Section Title */
.section-title {
  & .sub-title {
    font-size: 20px;
    font-weight: 500;
    color: $primary;
    margin-bottom: 20px;

    @media #{$tablet-device, $small-mobile} {
      font-size: 16px;
    }
  }
  & .main-title {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 0;
    line-height: 1.4;

    @media #{$tablet-device} {
      font-size: 24px;
    }
    @media #{$large-mobile} {
      font-size: 30px;
    }
    @media #{$small-mobile} {
      font-size: 24px;
    }

    & span {
      color: $primary;
      position: relative;
    }
  }

  &.section-title-white {
    & .sub-title {
      color: $white;
    }
    & .main-title {
      color: $white;
    }
  }

  &.shape-01 {
    & .main-title {
      & span {
        &::before {
          position: absolute;
          content: "";
          background-image: url(../images/shape/shape-11.png);
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          width: 122px;
          height: 24px;
          left: 50%;
          bottom: -26px;
          transform: translateX(-50%);

          @media #{$small-mobile} {
            display: none;
          }
        }
      }
    }
  }

  &.shape-02 {
    padding-bottom: 20px;

    @media #{$small-mobile} {
      padding-bottom: 0;
    }

    & .main-title {
      & span {
        &::before {
          position: absolute;
          content: "";
          background-image: url(../images/shape/shape-4.png);
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          width: 210px;
          height: 21px;
          left: 50%;
          bottom: -20px;
          transform: translateX(-50%);

          @media #{$tablet-device} {
            width: 140px;
            height: 15px;
          }
          @media #{$small-mobile} {
            display: none;
          }
        }
      }
    }
  }

  &.shape-03 {
    padding-bottom: 11px;

    @media #{$small-mobile} {
      padding-bottom: 0;
    }

    & .main-title {
      & span {
        &::before {
          position: absolute;
          content: "";
          background-image: url(../images/shape/shape-4.png);
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          width: 121px;
          height: 13px;
          right: 0;
          bottom: -11px;

          @media #{$small-mobile} {
            display: none;
          }
        }
      }
    }
  }
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $black;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  @include transition(all 0.3s linear);

  &.open {
    opacity: 0.7;
    visibility: visible;
  }
}

/* Tab Content */
.tab-content {
  & .tab-pane {
    display: block;
    overflow: hidden;
    height: 0;
    visibility: hidden;
    max-width: 100%;
    opacity: 0;
    transition: $transition-base;

    &.active {
      height: auto;
      visibility: visible;
      opacity: 1;
      overflow: visible;
    }
  }
}

/* Page Pagination */
.page-pagination {
  padding-top: 60px;

  & .pagination {
    & li {
      margin-right: 12px;

      &:last-child {
        margin-right: 0;
      }

      & a {
        width: 40px;
        height: 40px;
        line-height: 38px;
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        color: $dark;
        border: 1px solid rgba($primary, 0.2);
        display: block;
        transform: $transition-base;
        border-radius: 50%;

        @media #{$small-mobile} {
          width: 35px;
          height: 35px;
          line-height: 33px;
          font-size: 14px;
        }

        &.active,
        &:hover {
          color: $white;
          background-color: $primary;
          border-color: $primary;
        }
      }
    }
  }
}

/* Custom Animation */

.animation-round {
  animation: round 8s linear 0s infinite normal forwards;
}
@keyframes round {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animation-left {
  animation: left 5s linear 0s infinite normal forwards;
}
@keyframes left {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-40px);
  }

  100% {
    transform: translateX(0);
  }
}

.animation-right {
  animation: right 5s linear 0s infinite normal forwards;
}
@keyframes right {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(40px);
  }

  100% {
    transform: translateX(0);
  }
}

.animation-up {
  animation: up 5s linear 0s infinite normal forwards;
}
@keyframes up {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(0);
  }
}

.animation-down {
  animation: down 5s linear 0s infinite normal forwards;
}
@keyframes down {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(40px);
  }

  100% {
    transform: translateY(0);
  }
}
